<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org22.example22.demo.mapper.CrudUsersMapper">
    <!-- 插入记录-->
    <insert id="insertUserInfo" parameterType="org22.example22.demo.bean.CrudUsers">
        insert into crud_users (username, passwd, ip, mobile, create_time, update_time)
        values (#{username}, #{passwd}, #{ip}, #{mobile}, #{create_time}, #{update_time})
    </insert>

    <select id="getUserInfo" resultType="org22.example22.demo.bean.CrudUsers">
        select * from crud_users where username=#{username} and passwd=#{passwd}
    </select>

    <select id="getUserInfoById" resultType="org22.example22.demo.bean.CrudUsers">
        select * from crud_users where id=#{id}
    </select>
</mapper>
