<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scaffold.mapper.WpCommentmetaMapper">
  <resultMap id="BaseResultMap" type="com.scaffold.pojo.WpCommentmeta">
    <constructor>
      <idArg column="meta_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="comment_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="meta_key" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.scaffold.pojo.WpCommentmeta">
    <constructor>
      <idArg column="meta_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="comment_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="meta_key" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="meta_value" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    meta_id, comment_id, meta_key
  </sql>
  <sql id="Blob_Column_List">
    meta_value
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.scaffold.pojo.WpCommentmetaExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from wp_commentmeta
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.scaffold.pojo.WpCommentmetaExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wp_commentmeta
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from wp_commentmeta
    where meta_id = #{metaId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wp_commentmeta
    where meta_id = #{metaId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.scaffold.pojo.WpCommentmetaExample">
    delete from wp_commentmeta
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.scaffold.pojo.WpCommentmeta">
    insert into wp_commentmeta (meta_id, comment_id, meta_key, 
      meta_value)
    values (#{metaId,jdbcType=INTEGER}, #{commentId,jdbcType=BIGINT}, #{metaKey,jdbcType=VARCHAR}, 
      #{metaValue,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.scaffold.pojo.WpCommentmeta">
    insert into wp_commentmeta
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="metaId != null">
        meta_id,
      </if>
      <if test="commentId != null">
        comment_id,
      </if>
      <if test="metaKey != null">
        meta_key,
      </if>
      <if test="metaValue != null">
        meta_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="metaId != null">
        #{metaId,jdbcType=INTEGER},
      </if>
      <if test="commentId != null">
        #{commentId,jdbcType=BIGINT},
      </if>
      <if test="metaKey != null">
        #{metaKey,jdbcType=VARCHAR},
      </if>
      <if test="metaValue != null">
        #{metaValue,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.scaffold.pojo.WpCommentmetaExample" resultType="java.lang.Long">
    select count(*) from wp_commentmeta
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update wp_commentmeta
    <set>
      <if test="record.metaId != null">
        meta_id = #{record.metaId,jdbcType=INTEGER},
      </if>
      <if test="record.commentId != null">
        comment_id = #{record.commentId,jdbcType=BIGINT},
      </if>
      <if test="record.metaKey != null">
        meta_key = #{record.metaKey,jdbcType=VARCHAR},
      </if>
      <if test="record.metaValue != null">
        meta_value = #{record.metaValue,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update wp_commentmeta
    set meta_id = #{record.metaId,jdbcType=INTEGER},
      comment_id = #{record.commentId,jdbcType=BIGINT},
      meta_key = #{record.metaKey,jdbcType=VARCHAR},
      meta_value = #{record.metaValue,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update wp_commentmeta
    set meta_id = #{record.metaId,jdbcType=INTEGER},
      comment_id = #{record.commentId,jdbcType=BIGINT},
      meta_key = #{record.metaKey,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.scaffold.pojo.WpCommentmeta">
    update wp_commentmeta
    <set>
      <if test="commentId != null">
        comment_id = #{commentId,jdbcType=BIGINT},
      </if>
      <if test="metaKey != null">
        meta_key = #{metaKey,jdbcType=VARCHAR},
      </if>
      <if test="metaValue != null">
        meta_value = #{metaValue,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where meta_id = #{metaId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.scaffold.pojo.WpCommentmeta">
    update wp_commentmeta
    set comment_id = #{commentId,jdbcType=BIGINT},
      meta_key = #{metaKey,jdbcType=VARCHAR},
      meta_value = #{metaValue,jdbcType=LONGVARCHAR}
    where meta_id = #{metaId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.scaffold.pojo.WpCommentmeta">
    update wp_commentmeta
    set comment_id = #{commentId,jdbcType=BIGINT},
      meta_key = #{metaKey,jdbcType=VARCHAR}
    where meta_id = #{metaId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.scaffold.pojo.WpCommentmeta">
    <constructor>
      <idArg column="meta_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="comment_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="meta_key" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.scaffold.pojo.WpCommentmeta">
    <constructor>
      <idArg column="meta_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="comment_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="meta_key" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="meta_value" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    meta_id, comment_id, meta_key
  </sql>
  <sql id="Blob_Column_List">
    meta_value
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.scaffold.pojo.WpCommentmetaExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from wp_commentmeta
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.scaffold.pojo.WpCommentmetaExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wp_commentmeta
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from wp_commentmeta
    where meta_id = #{metaId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wp_commentmeta
    where meta_id = #{metaId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.scaffold.pojo.WpCommentmetaExample">
    delete from wp_commentmeta
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.scaffold.pojo.WpCommentmeta">
    insert into wp_commentmeta (meta_id, comment_id, meta_key, 
      meta_value)
    values (#{metaId,jdbcType=INTEGER}, #{commentId,jdbcType=BIGINT}, #{metaKey,jdbcType=VARCHAR}, 
      #{metaValue,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.scaffold.pojo.WpCommentmeta">
    insert into wp_commentmeta
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="metaId != null">
        meta_id,
      </if>
      <if test="commentId != null">
        comment_id,
      </if>
      <if test="metaKey != null">
        meta_key,
      </if>
      <if test="metaValue != null">
        meta_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="metaId != null">
        #{metaId,jdbcType=INTEGER},
      </if>
      <if test="commentId != null">
        #{commentId,jdbcType=BIGINT},
      </if>
      <if test="metaKey != null">
        #{metaKey,jdbcType=VARCHAR},
      </if>
      <if test="metaValue != null">
        #{metaValue,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.scaffold.pojo.WpCommentmetaExample" resultType="java.lang.Long">
    select count(*) from wp_commentmeta
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update wp_commentmeta
    <set>
      <if test="record.metaId != null">
        meta_id = #{record.metaId,jdbcType=INTEGER},
      </if>
      <if test="record.commentId != null">
        comment_id = #{record.commentId,jdbcType=BIGINT},
      </if>
      <if test="record.metaKey != null">
        meta_key = #{record.metaKey,jdbcType=VARCHAR},
      </if>
      <if test="record.metaValue != null">
        meta_value = #{record.metaValue,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update wp_commentmeta
    set meta_id = #{record.metaId,jdbcType=INTEGER},
      comment_id = #{record.commentId,jdbcType=BIGINT},
      meta_key = #{record.metaKey,jdbcType=VARCHAR},
      meta_value = #{record.metaValue,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update wp_commentmeta
    set meta_id = #{record.metaId,jdbcType=INTEGER},
      comment_id = #{record.commentId,jdbcType=BIGINT},
      meta_key = #{record.metaKey,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.scaffold.pojo.WpCommentmeta">
    update wp_commentmeta
    <set>
      <if test="commentId != null">
        comment_id = #{commentId,jdbcType=BIGINT},
      </if>
      <if test="metaKey != null">
        meta_key = #{metaKey,jdbcType=VARCHAR},
      </if>
      <if test="metaValue != null">
        meta_value = #{metaValue,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where meta_id = #{metaId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.scaffold.pojo.WpCommentmeta">
    update wp_commentmeta
    set comment_id = #{commentId,jdbcType=BIGINT},
      meta_key = #{metaKey,jdbcType=VARCHAR},
      meta_value = #{metaValue,jdbcType=LONGVARCHAR}
    where meta_id = #{metaId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.scaffold.pojo.WpCommentmeta">
    update wp_commentmeta
    set comment_id = #{commentId,jdbcType=BIGINT},
      meta_key = #{metaKey,jdbcType=VARCHAR}
    where meta_id = #{metaId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.scaffold.pojo.WpCommentmeta">
    <constructor>
      <idArg column="meta_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="comment_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="meta_key" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.scaffold.pojo.WpCommentmeta">
    <constructor>
      <idArg column="meta_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="comment_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="meta_key" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="meta_value" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    meta_id, comment_id, meta_key
  </sql>
  <sql id="Blob_Column_List">
    meta_value
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.scaffold.pojo.WpCommentmetaExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from wp_commentmeta
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.scaffold.pojo.WpCommentmetaExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wp_commentmeta
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from wp_commentmeta
    where meta_id = #{metaId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wp_commentmeta
    where meta_id = #{metaId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.scaffold.pojo.WpCommentmetaExample">
    delete from wp_commentmeta
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.scaffold.pojo.WpCommentmeta">
    insert into wp_commentmeta (meta_id, comment_id, meta_key, 
      meta_value)
    values (#{metaId,jdbcType=INTEGER}, #{commentId,jdbcType=BIGINT}, #{metaKey,jdbcType=VARCHAR}, 
      #{metaValue,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.scaffold.pojo.WpCommentmeta">
    insert into wp_commentmeta
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="metaId != null">
        meta_id,
      </if>
      <if test="commentId != null">
        comment_id,
      </if>
      <if test="metaKey != null">
        meta_key,
      </if>
      <if test="metaValue != null">
        meta_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="metaId != null">
        #{metaId,jdbcType=INTEGER},
      </if>
      <if test="commentId != null">
        #{commentId,jdbcType=BIGINT},
      </if>
      <if test="metaKey != null">
        #{metaKey,jdbcType=VARCHAR},
      </if>
      <if test="metaValue != null">
        #{metaValue,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.scaffold.pojo.WpCommentmetaExample" resultType="java.lang.Long">
    select count(*) from wp_commentmeta
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update wp_commentmeta
    <set>
      <if test="record.metaId != null">
        meta_id = #{record.metaId,jdbcType=INTEGER},
      </if>
      <if test="record.commentId != null">
        comment_id = #{record.commentId,jdbcType=BIGINT},
      </if>
      <if test="record.metaKey != null">
        meta_key = #{record.metaKey,jdbcType=VARCHAR},
      </if>
      <if test="record.metaValue != null">
        meta_value = #{record.metaValue,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update wp_commentmeta
    set meta_id = #{record.metaId,jdbcType=INTEGER},
      comment_id = #{record.commentId,jdbcType=BIGINT},
      meta_key = #{record.metaKey,jdbcType=VARCHAR},
      meta_value = #{record.metaValue,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update wp_commentmeta
    set meta_id = #{record.metaId,jdbcType=INTEGER},
      comment_id = #{record.commentId,jdbcType=BIGINT},
      meta_key = #{record.metaKey,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.scaffold.pojo.WpCommentmeta">
    update wp_commentmeta
    <set>
      <if test="commentId != null">
        comment_id = #{commentId,jdbcType=BIGINT},
      </if>
      <if test="metaKey != null">
        meta_key = #{metaKey,jdbcType=VARCHAR},
      </if>
      <if test="metaValue != null">
        meta_value = #{metaValue,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where meta_id = #{metaId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.scaffold.pojo.WpCommentmeta">
    update wp_commentmeta
    set comment_id = #{commentId,jdbcType=BIGINT},
      meta_key = #{metaKey,jdbcType=VARCHAR},
      meta_value = #{metaValue,jdbcType=LONGVARCHAR}
    where meta_id = #{metaId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.scaffold.pojo.WpCommentmeta">
    update wp_commentmeta
    set comment_id = #{commentId,jdbcType=BIGINT},
      meta_key = #{metaKey,jdbcType=VARCHAR}
    where meta_id = #{metaId,jdbcType=INTEGER}
  </update>
</mapper>