<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <!-- 配置mybatis运行环境 -->
    <environments default="development">
        <environment id="development">
            <!-- 使用JDBC的事务管理 -->
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <!-- MySQL数据库驱动 -->
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <!-- 连接数据库的URL -->
                <property name="url" value="jdbc:mysql://localhost:8889/springboot?characterEncoding=utf8"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>
    <!-- 将mapper文件加入到配置文件中 -->
    <mappers>
        <mapper resource="com/mb/mapper/WebsiteMapper.xml"></mapper>
        <mapper resource="com/mb/mapper/WebsiteMapper22.xml"></mapper>
        <mapper resource="com/mb/mapper/WebsiteMapper33_1.xml"></mapper>
        <mapper resource="com/mb/mapper/WebsiteMapper33_2.xml"></mapper>
        <mapper resource="com/mb/mapper/WebsiteMapper33_3.xml"></mapper>

        <mapper resource="com/mb/mapper/StudentMapper.xml"></mapper>
        <mapper resource="com/mb/mapper/StudentCardMapper.xml"></mapper>

        <mapper resource="com/mb/mapper/User33Mapper.xml"></mapper>
        <mapper resource="com/mb/mapper/Order33Mapper.xml"></mapper>

        <mapper resource="com/mb/mapper/Order44Mapper.xml"></mapper>

        <mapper resource="com/mb/mapper/DomainMapper.xml"></mapper>

    </mappers>
</configuration>